/*  living room */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat;
  transition: all 0.5s ease;
}

@media all and (max-width: 10000px) {
  body {
    background: #a23030;
  }
}

body {
  position: relative;
  width: 1920px;
  height: 1700px;
  display: flex;
  align-self: start;
  justify-content: center;
  background: #dfdfdf;
  top: 170px;
  left: 475px;
}

header {
  margin-top: 2.5%;
}

.nav {
  background: #fff;
  width: 30%;
  height: 80px;
  /* padding: 0px 1px; */
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0);
  position: relative;
  top: -179px;
  left: 185px;
}

.hn {
  position: relative;
  border-radius: 10px;
  padding: 25px 1px;
  margin: 10px;
  display: inline-block;
  text-decoration: none;
  color: #b7b7b7;
  width: 180px;
  text-align: center;
}

.hn:hover {
  background: #fed049;
  border-radius: 10px;
  font-weight: bold;
  color: #434343;
  transition: 0.2s;
  filter: drop-shadow(-1px -1px 0.5px rgba(163, 163, 163, 0.3))
    drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2))
    drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.2));
}

.slides {
  border-radius: 20%;
}

.hienthi {
  position: relative;
  gap: 25px;
  margin-top: 50px;
  margin: 0px 150px 0px 150px;
  width: 960px;
  height: 540px;
  margin: auto;
  border-radius: 15px;
  background-repeat: no-repeat;
  bottom: -20px;
}

.head_text {
  position: relative;
  align-items: center;
  text-align: center;
  left: 190px;
  top: -130px;
}

h2 {
  position: relative;
  font-size: 80px;
  font-weight: 300;
  color: #222;
  top: 110px;
  left: 25px;
  filter: drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.3))
    drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2))
    drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2));
}

.temp {
  position: relative;
  width: 40px;
  height: 40px;
  top: -125px;
  left: 175px;
}

.celsius {
  position: relative;
  width: 60px;
  height: 60px;
  left: 65px;
  top: 15px;
  filter: drop-shadow(-3px -3px 2px rgba(255, 254, 254, 0.3))
    drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2))
    drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2));
}

h3 {
  position: relative;
  font-size: 80px;
  font-weight: 300;
  color: #222;
  top: 110px;
  left: 25px;
  filter: drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.3))
    drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2))
    drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2));
}

.percent {
  position: relative;
  font-size: 50px;
  left: 125px;
  top: 20px;
  filter: drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.3))
    drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2))
    drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2));
}

.humi {
  position: relative;
  width: 40px;
  height: 40px;
  top: -165px;
  left: 175px;
}

h4 {
  position: relative;
  color: #fff;
  font-size: 50px;
  top: -30px;
  right: 740px;
  font-weight: lighter;
}

h5 {
  position: relative;
  font-size: 80px;
  top: -40px;
  right: 745px;
  color: white;
}



h1 {
  margin-top: -284px;
  margin-left: 33px;
  font-size: 25px;
  color: #000000;
}

#power {
  position: absolute;
  width: 40px;
  height: 40px;
  filter: invert(1);
  left: -490px;
  top: 120px;
}

#plant {
  position: absolute;
  width: 40px;
  height: 40px;
  filter: invert(1);
  left: -70px;
  top: 120px;
}

h6 {
  position: relative;
  color: #fff;
  font-size: 28px;
  font-weight: lighter;
  margin-top: -30px;
  margin-left: -1480px;
}

.box1 {
  position: relative;
  width: 230px;
  height: 250px;
  border-radius: 10px;
  background-color: #f1f1f1;
  left: -150px;
  top: -50px;
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.2);
}

.box2 {
  position: relative;
  width: 230px;
  height: 250px;
  border-radius: 10px;
  background-color: #f1f1f1;
  left: 150px;
  top: -300px;
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.2);
}

.box3 {
  position: relative;
  width: 230px;
  height: 250px;
  border-radius: 10px;
  background-color: #f1f1f1;
  left: -690px;
  top: -950px;
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.2);
}

.box4 {
  position: relative;
  width: 230px;
  height: 250px;
  border-radius: 10px;
  background-color: #f1f1f1;
  left: 300px;
  top: -1205px;
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.2);
}

.hinh5 {
  position: relative;
  width: 640px;
  height: 225px;
  border-radius: 10px;
  background-color: #f1f1f1;
  left: -400px;
  top: -110px;
}

.text1 {
  position: relative;
  font-size: 20px;
  left: 20px;
  top: 20px;
}

.text {
  position: relative;
  font-size: 20px;
  left: -115px;
  top: -35px;
  color: #fff;
}

#background {
  position: absolute;
  width: 1750px;
  height: 850px;
  bottom: -130px;
  right: 80px;
  border-radius: 10px;
  opacity: 85%;
  filter: brightness(50%);
}

.device {
  position: relative;
  top: -60px;
  left: 20px;
  font-size: 20px;
}

#denId_01 {
  position: absolute;
  width: 60px;
  height: 110px;
  top: 55px;
  left: 60px;
  filter: drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.3))
    drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2))
    drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2));
}

.card-img-top {
  height: 110px;
}

#denId_02 {
  position: absolute;
  width: 85px;
  height: 85px;
  top: 70px;
  left: 75px;
  filter: drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.3))
    drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2))
    drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2));
}

#btnOnId_01 {
  position: relative;
  left: 44px;
  bottom: -190px;
  border-radius: 30px;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  display: block;
  padding: 10px 20px;
  font-size: 17px;
  background: #ffffff;
  border-radius: 30px;
  box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.3),
    2px 2px 2px rgba(0, 0, 0, 0.2);
}

#btnOnId_01:hover {
  background: #fcda6b;
  border-radius: 10px;
  font-weight: bold;
  color: #252525;
  transition: 0.2s;
  box-shadow: -2px -2px 2px #ffdb67, 2px 2px 2px #927000;
}

#btnOnId_01:active {
  transform: translateY(1px);
  box-shadow: inset -2px -2px 2px #ffdb67, inset 2px 2px 2px #927000;
}

#btnOffId_01 {
  position: relative;
  left: 123px;
  bottom: -150px;
  border-radius: 30px;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  display: block;
  padding: 10px 20px;
  font-size: 17px;
  background: #ffffff;
  border-radius: 30px;
  box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.3),
    2px 2px 2px rgba(0, 0, 0, 0.2);
}

#btnOffId_01:hover {
  background: #fcda6b;
  border-radius: 10px;
  font-weight: bold;
  color: #252525;
  transition: 0.2s;
  box-shadow: -2px -2px 2px #ffdb67, 2px 2px 2px #927000;
}

#btnOffId_01:active {
  transform: translateY(1px);
  box-shadow: inset -2px -2px 2px #ffdb67, inset 2px 2px 2px #927000;
}

#btnOnId_02 {
  position: relative;
  left: 44px;
  bottom: -190px;
  border-radius: 30px;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  display: block;
  padding: 10px 20px;
  font-size: 17px;
  background: #ffffff;
  border-radius: 30px;
  box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.3),
    2px 2px 2px rgba(0, 0, 0, 0.2);
}

#btnOnId_02:hover {
  background: #fcda6b;
  border-radius: 10px;
  font-weight: bold;
  color: #252525;
  transition: 0.2s;
  box-shadow: inset 2px 2px 2px #967300, inset -3px -3px 8px #fcda6b;
}

#btnOnId_02:hover {
  background: #fcda6b;
  border-radius: 10px;
  font-weight: bold;
  color: #252525;
  transition: 0.2s;
  box-shadow: -2px -2px 2px #ffdb67, 2px 2px 2px #927000;
}

#btnOnId_02:active {
  transform: translateY(1px);
  box-shadow: inset -2px -2px 2px #ffdb67, inset 2px 2px 2px #927000;
}

#btnOffId_02 {
  position: relative;
  left: 123px;
  bottom: -150px;
  border-radius: 30px;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  display: block;
  padding: 10px 20px;
  font-size: 17px;
  background: #ffffff;
  border-radius: 30px;
  box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.3),
    2px 2px 2px rgba(0, 0, 0, 0.2);
}

#btnOffId_02:hover {
  background: #fcda6b;
  border-radius: 10px;
  font-weight: bold;
  color: #252525;
  transition: 0.2s;
  box-shadow: inset 2px 2px 2px #967300, inset -3px -3px 8px #fcda6b;
}

#btnOffId_02:hover {
  background: #fcda6b;
  border-radius: 10px;
  font-weight: bold;
  color: #252525;
  transition: 0.2s;
  box-shadow: -2px -2px 2px #ffdb67, 2px 2px 2px #927000;
}

#btnOffId_02:active {
  transform: translateY(1px);
  box-shadow: inset -2px -2px 2px #ffdb67, inset 2px 2px 2px #927000;
}
